* {
	margin: 0px;
}

body {
	font-family: Arial, Verdana, sans-serif;
	color: #000;
}

header {
	width: 100%;
	height: 80px;
	background-color: #000;
}
	
	/*Criando uma classe área para configurar a div no documento HTML*/
	header .area {
		
		width: 80%;
		height: 100%;
		margin: auto;
	}

		header .area h1 {
			color: #fff;
			font-size: 16px;
			padding-top: 32px;
			float: left;
		}

		/*Deixando o Navigator para a esquerda*/
		header nav {
			float: right;
		}

			/*Configurando a lista*/
			header nav ul li {
				display: inline-block;
				width: 118px;
				text-align: center;
				padding-top: 4px;
			}
				
				/*Configurando os links da lista*/
				header nav ul li a {
					color: #999;
					text-decoration: none;
					font-size: 12px;
					font-weight: bold; 
					border-top: 4px solid #999;
					display: block;
					width: 100%;
					height: 100%;
					padding-top: 30px;
				}

				
				/*Quando estiver com o mouse por cima do texto*/
				header nav ul li a:hover {
					color: #fff;
					border-top: 4px dashed #fff;
				}


				main {
					width: 80%;
					height: 80%;
					margin: auto;
				}

					section#titulo {
					width: 100%;
					height: 40px;
					}

					section#titulo h1 {
						float: left;
						font-size: 15px;
						text-align: center;
						
					}

					section .log{

						width: 40%;
						height: 380px;
						padding-left: 320px;
					}

					
					main .log label {
						
						color: #000;
						font-size: 15px;
						float: left;
						
					}

					main .log input[type="email"] {
					  
					 float: right;
					
					  
					}

					main .log input[type="password"] {
					  
					  float: right;
					  
					}

					main .log input[type="text"] {
					  
					  float: right;
					  
					}

					/*Encerra o bloco do formulário**/

					section#imagens{

						width: 100%;
						height: 350px;
					}


					section#imagens article figure img{

						width: 25%;
						height: 50%;
						float: left;
						
					}

					footer{

						width: 100%;
						height: 200px;
						background-color: #000;
					}

					

					

					

		

			
