* {
	margin: 0px;
}

body {
	font-family: Arial, Verdana, sans-serif;
	color: #000;
}

header {
	width: 100%;
	height: 80px;
	background-image: url("../imgs/crysis_2.jpg");
}
	
	/*Criando uma classe área para configurar a div no documento HTML*/
	header .area {
		
		width: 940px;
		height: 100%;
		margin: auto;
	}

		header .area h1 {
			color: #fff;
			font-size: 16px;
			padding-top: 32px;
			float: left;
		}

		/*Deixando o Navigator para a esquerda*/
		header nav {
			float: right;
		}

			/*Configurando a lista*/
			header nav ul li {
				display: inline-block;
				width: 118px;
				text-align: center;
				padding-top: 4px;
			}
				
				/*Configurando os links da lista*/
				header nav ul li a {
					color: #999;
					text-decoration: none;
					font-size: 12px;
					font-weight: bold; 
					border-top: 4px solid #999;
					display: block;
					width: 100%;
					height: 100%;
					padding-top: 30px;
				}

				
				/*Quando estiver com o mouse por cima do texto*/
				header nav ul li a:hover {
					color: #fff;
					border-top: 4px dashed #fff;
				}


				main {
					width: 80%;
					height: 80%;
					margin: auto;
					
				}

				
				main .form{

					width: 60%;
					height: 380px;
					padding-left: 220px;
					padding-top: 70px;
				}

					main .form label{

						float: left;
					}

					
					main .form input[type="text"] {
					  
					  float: right;
					  
					}

					main .form_console{

					width: 60%;
					height: 380px;
					padding-left: 220px;
					padding-top: 70px;
				}

					main .form_console label{

						float: left;
					}

					
					main .form_console input[type="text"] {
					  
					  float: right;
					  
					}

					main .form_dados{

						width: 50%;
						height: 380px;
						padding-left: 270px;
						padding-top: 70px;
					}

					main .form_dados label{

						float: left;
					}

					main .form_dados input[type="text"]{

						float: right;

					}

					main .form_dados input[type="email"]{

						float: right;

					}

					main .form_dados input[type="password"]{

						float: right;

					}

					main .table_config{

						padding-left: 130px;

					}

					main .table_config table{

						text-align: center;
					}
					
					main .table_config table tbody{

						text-align: left;
					}

					

					footer{

						width: 100%;
						height: 200px;
						padding-top: 40px;
						background-image: url("../imgs/mario.jpg")

						
					}
				



				